<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Body:</b>
  <%= @event.body %>
</p>

<p>
  <b>Site:</b>
  <%= @event.site %>
</p>

<p>
  <b>Owner:</b>
  <%= @event.owner %>
</p>

<p>
  <b>Start at:</b>
  <%= @event.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @event.end_at %>
</p>
<h3>ただ今の参加表明</h3>
<% @asserts.each do |assert| %>
    <p>
    <%= assert.user.email %>
    <%= assert.date %>
    <%= assert.flag %>
    </p>
<% end %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
