<h1>Listing asserts</h1>

<table>
  <tr>
    <th>Event</th>
    <th>User</th>
    <th>Date</th>
    <th>Flag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @asserts.each do |assert| %>
  <tr>
    <td><%= assert.event.title %></td>
    <td><%= assert.user.email %></td>
    <td><%= assert.date %></td>
    <td><%= assert.flag %></td>
    <td><%= link_to 'Show', assert %></td>
    <td><%= link_to 'Edit', edit_assert_path(assert) %></td>
    <td><%= link_to 'Destroy', assert, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assert', new_assert_path %>
